<a href="https://colab.research.google.com/github/nurfnick/Calculus_1/blob/main/Python/EquationSolving.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Equation Solving in Python

Using the `sympy` package, equation solving is quite straight forward.  You'll need for the equation to equal 0.  We solve the equation
$$
x^2-3x-4=0
$$
by defining $f(x) = x^2-3x-4$ and solving for $x$.

In [1]:
from sympy import *

x = symbols('x')

f = x**2-3*x-4

In [2]:
solve(f,x)

[-1, 4]

Of course this is not terribly interesting solutions.  Let's get something a little more challenging.

$$
2\tan(\theta) -\frac{1}{\cos^2(\theta)}=0
$$

In [4]:
theta = symbols('theta')
g = 2*tan(theta)-1/(cos(theta))**2

g

2*tan(theta) - 1/cos(theta)**2

In [5]:
solve(g,theta)

[-3*pi/4, pi/4]

In [9]:
g.subs(theta,pi/4)

0